VITE_SUPABASE_URL=https://uebtlwcpwfrmokgkslva.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVlYnRsd2Nwd2ZybW9rZ2tzbHZhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxMDgzODMsImV4cCI6MjA5MTY4NDM4M30.cRFmCr49Zw3BKBzFodRccuNVjnYwpT2evH9J7D7l1tg
VITE_API_BASE_URL=http://localhost:8000
